*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.part1{
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1280,h_720,q_75,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-image: url(https://storage.googleapis.com/pod_public/1300/121017.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image{
  width: 300px;
  height: auto;
}

.navBtn{
  padding: 10px 20px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navBtn:hover{
  background-color: crimson;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  color: white;
  text-align: center;
  font-size: 65px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}
.text1{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: white;
  margin-top: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.text2{
  font-size: 15px;
  color: white;
  font-weight: 300;
  text-align: center;
  margin-top: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.get{
  margin-left: 450px;
  margin-top: 25px;
}

input{
  height: 50px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.get-btn{
  padding: 15px 25px;
  background-color: red;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-btn:hover{
  background-color: rgba(255, 60, 0, 0.76);
}
